<!-- Main Modal -->
<div
    class="modal fade"
    id="propPer_mainModal"
    tabindex="-1"
    aria-labelledby="propPer_mainModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-md-4by3 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="propPer_mainModalLabel">Property Permission</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button id="propPer_btnView" type="button" class="mui-button mui-button-search">
                            View
                        </button>
                        <button id="propPer_btnNew" type="button" class="mui-button mui-button-new">
                            New
                        </button>
                        <button id="propPer_btnDelete" type="button" class="mui-button mui-button-delete">
                            Delete
                        </button>
                        <button id="propPer_btnRefresh" type="button" class="mui-button mui-button-search">
                            Refresh
                        </button>
                        <button
                            type="button"
                            class="mui-button mui-button-new"
                            data-bs-dismiss="modal"
                            aria-label="Close"
                        >
                            Close
                        </button>
                    </div>

                    <div class="row g-2 mt-1">
                        <div class="col-12">
                            <div class="row g-2 align-items-center">
                                <label
                                    for="propPer_user"
                                    class="col-md-2 col-lg-1 col-form-label col-form-label-sm text-md-end"
                                >
                                    User
                                </label>

                                <div class="col-md-4">
                                    <select
                                        id="propPer_user"
                                        name="propPer_user"
                                        class="tomselect-custom"
                                        multiple
                                    >
                                        @foreach (var propPer_sg in ViewBag.UsersList)
                                        {
                                            <option value="@propPer_sg.ID">
                                                @propPer_sg.LoginName - @propPer_sg.FirstName
                                            </option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mui-card mt-1">
                    <div id="propPer_gridContainer" class="gridContainer"></div>
                </div>

                <div
                    id="propPer_loadingSpinner"
                    style="
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 999;
                        background: rgba(255, 255, 255, 0.55);
                        backdrop-filter: blur(2px);
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    "
                >
                    <div class="spinner-border text-primary"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div
    class="modal fade"
    id="propPer_itemModal"
    tabindex="-1"
    data-bs-backdrop="static"
    aria-labelledby="propPer_itemModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="propPer_itemModalLabel">New Property Permission</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <button type="button" id="propPer_btnSave" class="mui-button mui-button-new">
                        Save
                    </button>
                    <button type="button" class="mui-button mui-button-new" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>

                <form id="propPer_formContainer">
                    <div class="row g-2 mt-1 mb-2">
                        <div class="col-11">
                            <div class="row g-2">
                                <label
                                    for="propPer_chooseUser"
                                    class="col-md-4 col-form-label col-form-label-sm text-md-end"
                                >
                                    User <span class="text-danger">*</span>
                                </label>

                                <div class="col-md-8">
                                    <select
                                        id="propPer_chooseUser"
                                        name="propPer_chooseUser"
                                        class="tomselect-custom"
                                        multiple
                                    >
                                        @foreach (var propPer_sg in ViewBag.UsersList)
                                        {
                                            <option value="@propPer_sg.ID">
                                                @propPer_sg.LoginName - @propPer_sg.FirstName
                                            </option>
                                        }
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-11">
                            <div class="row g-2">
                                <label
                                    for="propPer_choosePropertyType"
                                    class="col-md-4 col-form-label col-form-label-sm text-md-end"
                                >
                                    Property <span class="text-danger">*</span>
                                </label>

                                <div class="col-md-8">
                                    <select
                                        id="propPer_choosePropertyType"
                                        name="propPer_choosePropertyType"
                                        class="tomselect-custom"
                                        multiple
                                    >
                                        @foreach (var propPer_sg in ViewBag.PropertyList)
                                        {
                                            <option value="@propPer_sg.ID">
                                                @propPer_sg.PropertyCode - @propPer_sg.PropertyName
                                            </option>
                                        }
                                    </select>
                                    <div class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" id="propPer_id" name="propPer_id" value="0" />
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var propPer_Module = (() => {
        let propPer_selectedRowData = null;

        const propPer_selectors = {
            mainModal: "#propPer_mainModal",
            itemModal: "#propPer_itemModal",
            form: "#propPer_formContainer",
            grid: "#propPer_gridContainer",
            loading: "#propPer_loadingSpinner",
            user: "#propPer_user",
            chooseUser: "#propPer_chooseUser",
            choosePropertyType: "#propPer_choosePropertyType",
            btnView: "#propPer_btnView",
            btnNew: "#propPer_btnNew",
            btnDelete: "#propPer_btnDelete",
            btnRefresh: "#propPer_btnRefresh",
            btnSave: "#propPer_btnSave",
            modalLabel: "#propPer_itemModalLabel",
            id: "#propPer_id"
        };

        function propPer_init() {
            propPer_bindEvents();
            propPer_initializeTomSelects();
            propPer_loadGrid([]);
            propPer_loadData();
        }

        function propPer_bindEvents() {
            $(".tomselect-custom").on("change", function () {
                const propPer_val = $(this).val();
                const propPer_wrapper = $(this).next(".ts-wrapper");

                if (propPer_val && propPer_val.length > 0) {
                    propPer_wrapper.removeClass("is-invalid");
                    propPer_wrapper.parent().find(".invalid-feedback").hide();
                }
            });

            $(document)
                .off(
                    "input change",
                    `${propPer_selectors.form} input, ${propPer_selectors.form} select, ${propPer_selectors.form} textarea`
                )
                .on(
                    "input change",
                    `${propPer_selectors.form} input, ${propPer_selectors.form} select, ${propPer_selectors.form} textarea`,
                    function () {
                        if ($(this).hasClass("is-invalid")) {
                            $(this).removeClass("is-invalid");
                            $(this).next(".invalid-feedback").text("");
                        }
                    }
                );

            $(propPer_selectors.itemModal)
                .off("hidden.bs.modal")
                .on("hidden.bs.modal", function () {
                    applyValidationErrors([], propPer_selectors.form);
                    $(".ts-wrapper").removeClass("is-invalid");
                    $(".invalid-feedback").hide();
                });

            $(document)
                .off("click", propPer_selectors.btnView)
                .on("click", propPer_selectors.btnView, function () {
                    propPer_loadData();
                });

            $(document)
                .off("click", propPer_selectors.btnNew)
                .on("click", propPer_selectors.btnNew, function () {
                    propPer_openAddModal();
                });

            $(document)
                .off("click", propPer_selectors.btnSave)
                .on("click", propPer_selectors.btnSave, function () {
                    propPer_save();
                });

            $(document)
                .off("click", propPer_selectors.btnDelete)
                .on("click", propPer_selectors.btnDelete, function () {
                    propPer_delete();
                });

            $(document)
                .off("click", propPer_selectors.btnRefresh)
                .on("click", propPer_selectors.btnRefresh, function () {
                    const propPer_userSelect = document.querySelector(propPer_selectors.user)?.tomselect;
                    if (propPer_userSelect) {
                        propPer_userSelect.clear();
                    }
                    propPer_loadData();
                });
        }

        function propPer_initializeTomSelects() {
            const propPer_commonConfig = {
                plugins: {
                    remove_button: { title: "Bỏ chọn" },
                    dropdown_input: {},
                    clear_button: { title: "Xóa hết" }
                },
                create: false,
                maxItems: null,
                valueField: "value",
                labelField: "text",
                searchField: ["text"],
                placeholder: "Select or search...",
                render: {
                    option: (data, escape) => `<div class="p-2">${escape(data.text)}</div>`,
                    item: (data, escape) => `<div title="${escape(data.text)}">${escape(data.text)}</div>`
                },
                onDropdownOpen: function () {
                    this.positionDropdown();
                }
            };

            [
                propPer_selectors.user,
                propPer_selectors.choosePropertyType,
                propPer_selectors.chooseUser
            ].forEach((selector) => {
                const propPer_el = document.querySelector(selector);

                if (propPer_el) {
                    if (propPer_el.tomselect) {
                        propPer_el.tomselect.destroy();
                    }

                    const propPer_ts = new TomSelect(propPer_el, propPer_commonConfig);

                    propPer_ts.on("change", function () {
                        const propPer_wrapper = $(propPer_ts.control).closest(".ts-wrapper");
                        propPer_wrapper.removeClass("is-invalid");
                        propPer_wrapper.siblings(".invalid-feedback").hide();
                    });

                    propPer_ts.on("clear", function () {
                        const propPer_wrapper = $(propPer_ts.control).closest(".ts-wrapper");
                        propPer_wrapper.removeClass("is-invalid");
                        propPer_wrapper.siblings(".invalid-feedback").hide();
                    });
                }
            });
        }

        function propPer_openAddModal() {
            const propPer_form = $(propPer_selectors.form)[0];
            if (propPer_form) {
                propPer_form.reset();
            }

            $(propPer_selectors.id).val("0");

            const propPer_tsUser = document.querySelector(propPer_selectors.chooseUser)?.tomselect;
            const propPer_tsProp = document.querySelector(propPer_selectors.choosePropertyType)?.tomselect;

            if (propPer_tsUser) {
                propPer_tsUser.clear();
            }

            if (propPer_tsProp) {
                propPer_tsProp.clear();
            }

            $(".ts-wrapper").removeClass("is-invalid");
            $(".invalid-feedback").hide();

            $(propPer_selectors.modalLabel).text("New Property Permission");
            $(propPer_selectors.itemModal).modal("show");
        }

        function propPer_getSearchModel() {
            const propPer_rawVal = $(propPer_selectors.user).val();
            const propPer_userIDString =
                propPer_rawVal && propPer_rawVal.length > 0 ? propPer_rawVal.join(",") : "";

            return {
                userID: propPer_userIDString
            };
        }

        function propPer_getSaveModel() {
            const propPer_id = parseInt($(propPer_selectors.id).val()) || 0;
            let propPer_loginName = (localStorage.getItem("Loginname") || "").replace(/^"(.*)"$/, "$1");

            const propPer_selectedUsers = $(propPer_selectors.chooseUser).val() || [];
            const propPer_selectedProperties = $(propPer_selectors.choosePropertyType).val() || [];

            let propPer_listDataToSend = [];

            if (propPer_selectedUsers.length === 0 || propPer_selectedProperties.length === 0) {
                propPer_listDataToSend.push({
                    ID: propPer_id,
                    UserID: 0,
                    PropertyID: 0,
                    CreatedBy: propPer_loginName
                });
            } else {
                propPer_selectedUsers.forEach((propPer_uID) => {
                    propPer_selectedProperties.forEach((propPer_pID) => {
                        propPer_listDataToSend.push({
                            ID: propPer_id,
                            UserID: parseInt(propPer_uID),
                            PropertyID: parseInt(propPer_pID),
                            CreatedBy: propPer_loginName,
                            UpdatedBy: propPer_loginName
                        });
                    });
                });
            }

            return propPer_listDataToSend;
        }

        function propPer_showLoading() {
            $(propPer_selectors.loading).show();
        }

        function propPer_hideLoading() {
            $(propPer_selectors.loading).hide();
        }

        function propPer_loadData() {
            propPer_showLoading();

            $.ajax({
                url: "/Administration/GetPropertyPermission",
                type: "GET",
                cache: false,
                data: propPer_getSearchModel(),
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (propPer_data) {
                    propPer_loadGrid(propPer_data || []);
                    propPer_hideLoading();
                },
                error: function () {
                    showToast("Error", "Unable to load data", false);
                    propPer_hideLoading();
                }
            });
        }

        function propPer_loadGrid(propPer_data) {
            $(propPer_selectors.grid).dxDataGrid({
                dataSource: propPer_data,
                width: "100%",
                allowColumnResizing: true,
                columnResizingMode: "widget",
                selection: {
                    mode: "multiple",
                    showCheckBoxesMode: "always",
                    selectAllMode: "page"
                },
                hoverStateEnabled: true,
                columns: [
                    { dataField: "id", visible: false },
                    { dataField: "loginName", caption: "Login name", groupIndex: 0 },
                    { dataField: "propertyCode", caption: "Property Code", width: "200" },
                    { dataField: "propertyName", caption: "Property Name", minWidth: 300, cssClass: "col-description" }
                ],
                filterRow: {
                    visible: true,
                    applyFilter: "auto"
                },
                paging: {
                    pageSize: 20
                },
                pager: {
                    visible: true,
                    allowedPageSizes: [20, 50, "all"],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true
                },
                scrolling: {
                    mode: "standard",
                    showScrollbar: "always"
                },
                onSelectionChanged: function (e) {
                    propPer_selectedRowData =
                        e.selectedRowsData.length > 0 ? e.selectedRowsData[0] : null;
                }
            });
        }

        function propPer_save() {
            const propPer_model = propPer_getSaveModel();

            $.ajax({
                url: "/Administration/PropertyPermissionSave",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(propPer_model),
                success: function (propPer_res) {
                    if (propPer_res.success) {
                        showToast("Success", propPer_res.message, true);
                        $(propPer_selectors.itemModal).modal("hide");
                        propPer_loadData();
                    } else {
                        if (propPer_res.errors && propPer_res.errors.length > 0) {
                            applyValidationErrors(propPer_res.errors, propPer_selectors.form);
                        } else {
                            showToast("Error", propPer_res.message || "Save failed", false);
                        }
                    }
                },
                error: function () {
                    showToast("Error", "Request error!", false);
                }
            });
        }

        function propPer_delete() {
            const propPer_grid = $(propPer_selectors.grid).dxDataGrid("instance");
            const propPer_selectedRows = propPer_grid.getSelectedRowsData();

            if (!propPer_selectedRows || propPer_selectedRows.length === 0) {
                showToast("Warning", "Please select 1 row to delete.", false);
                return;
            }

            if (!confirm(`Are you sure you want to delete ${propPer_selectedRows.length} record(s)?`)) {
                return;
            }

            const propPer_listIdsToSend = propPer_selectedRows.map((item) => item.id || item.ID);

            $.ajax({
                url: "/Administration/DeletePropertyPermission",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(propPer_listIdsToSend),
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (propPer_result) {
                    if (propPer_result.success) {
                        propPer_loadData();
                        showToast("Success", propPer_result.message, true);
                        propPer_grid.clearSelection();
                    } else {
                        showToast("Error", propPer_result.message, false);
                    }
                },
                error: function () {
                    showToast("Error", "Delete failed!", false);
                }
            });
        }

        return {
            init: propPer_init,
            loadData: propPer_loadData,
            openAddModal: propPer_openAddModal
        };
    })();

    window.openModalPropertyPermission = function () {
        const modalEl = document.querySelector("#propPer_mainModal");
        const modal = bootstrap.Modal.getOrCreateInstance(modalEl);

        $(modalEl).one("shown.bs.modal", function () {
            propPer_Module.init();
        });
        modal.show();
        $("#propPer_mainModal").modal("show");
        propPer_Module.init();
    };
</script>