@using DevExpress.XtraReports.UI

@{
    ViewBag.Title = ViewBag.ReportHeader;
    var rmAva_zoneList = ViewBag.ZoneList;
    var rmAva_restyList = ViewBag.ReservationType;
}

<!-- Main Modal -->
<div class="modal fade" id="rmAva_mainModal" tabindex="-1" aria-labelledby="rmAva_mainModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-4by3 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content modal-full-height">

            <div class="modal-header">
                <h5 class="modal-title" id="rmAva_mainModalLabel">Room Availability</h5>
            </div>

            <div class="modal-body">
                <div class="search-filter">
                    <div>
                        <button id="rmAva_btnPrint" type="button" class="mui-button mui-button-new">View</button>
                        <button id="rmAva_btnExportExcel" type="button" class="mui-button mui-button-new">Excel</button>
                        <button id="rmAva_btnClose" type="button" data-bs-dismiss="modal" class="mui-button mui-button-new">Close</button>
                    </div>

                    <div class="d-flex flex-wrap align-items-center gap-2 mt-1 filter-panel">
                        <!-- From Date -->

                        <div class="container-fluid px-0">
                            <div class="row g-2 align-items-center">

                                <!-- From Date -->
                                <div class="col-auto">
                                    <label class="col-form-label mb-0">From :</label>
                                </div>
                                <div class="col-auto">
                                    <div data-date-input data-format="DD/MM/YYYY" data-name="rmAva_fromDate" business-date>
                                        <input type="text" class="date-ui form-control form-control-sm"
                                            placeholder="dd/mm/yyyy" autocomplete="off" />
                                    </div>
                                </div>

                                <!-- Display No of Days -->
                                <div class="col-auto">
                                    <label class="col-form-label mb-0">Display No of Days:</label>
                                </div>
                                <div class="col-auto">
                                    <select id="rmAva_displayOfDay" name="rmAva_displayOfDay" class="form-control form-control-sm">
                                        <option value="0"></option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="15">15</option>
                                        <option value="20">20</option>
                                        <option value="28">28</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                    </select>
                                </div>

                                <!-- Zone -->
                                <div class="col-auto">
                                    <label class="col-form-label mb-0">Zone:</label>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <select id="rmAva_zone" name="rmAva_zone" class="tomselect-custom" multiple>
                                        @foreach (var item in rmAva_zoneList)
                                        {
                                            if (item == rmAva_zoneList[0])
                                            {
                                                <option value="@item.Code" selected>@item.Code</option>
                                            }
                                            else
                                            {
                                                <option value="@item.Code">@item.Code</option>
                                            }
                                        }
                                    </select>
                                </div>

                                <!-- Res.Type -->
                                <div class="col-auto">
                                    <label class="col-form-label mb-0">Res.Type:</label>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <select id="rmAva_resType" name="rmAva_resType" class="tomselect-custom" multiple>
                                        @foreach (var item in rmAva_restyList)
                                        {
                                            <option value="@item.ID">@item.Name</option>
                                        }
                                    </select>
                                </div>

                            </div>
                        </div>

                        <div class="container-fluid px-0 mt-2">
                            <div class="row g-3">

                                <div class="col-auto d-flex align-items-center gap-2">
                                    <span class="status-color-box color-clean-uncheck"></span>
                                    <input type="checkbox" id="rmAva_showNonDeduct" name="includeOptions" value="1">
                                    <label class="form-check-label mb-0" for="rmAva_showNonDeduct">Show Non Deduct</label>
                                </div>

                                <div class="col-auto d-flex align-items-center gap-2">
                                    <input type="checkbox" id="rmAva_showOcc3" name="includeOptions" value="1">
                                    <label class="form-check-label mb-0" for="rmAva_showOcc3">Show %Occ3</label>
                                </div>

                                <div class="col-auto d-flex align-items-center gap-2">
                                    <input type="checkbox" id="rmAva_showRoomNight" name="includeOptions" value="1">
                                    <label class="form-check-label mb-0" for="rmAva_showRoomNight">Show Room Night</label>
                                </div>

                                <div class="col-auto d-flex align-items-center gap-2">
                                    <input type="checkbox" id="rmAva_includeOutOfOrder" name="includeOptions" value="1"
                                        checked>
                                    <label class="form-check-label mb-0" for="rmAva_includeOutOfOrder">
                                        Include Out of Order
                                    </label>
                                </div>

                                <div class="col-auto d-flex align-items-center gap-2">
                                    <input type="checkbox" id="rmAva_includeOverbooking" name="includeOptions" value="1">
                                    <label class="form-check-label mb-0" for="rmAva_includeOverbooking">
                                        Include Overbooking
                                    </label>
                                </div>

                                <div class="col-auto d-flex align-items-center gap-2">
                                    <input type="checkbox" id="rmAva_includeAllotment" name="includeOptions" value="1"
                                        checked>
                                    <label class="form-check-label mb-0" for="rmAva_includeAllotment">
                                        Include Allotment
                                    </label>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="mui-card mt-1">
                    <div id="rmAva_gridContainer" class="gridContainer"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    var rmAva_Module = (() => {
        let rmAva_selectedRowData = null;
        let rmAva_parsedBusinessDate = null;

        const rmAva_selectors = {
            mainModal: "#rmAva_mainModal",
            grid: "#rmAva_gridContainer",

            btnPrint: "#rmAva_btnPrint",
            btnExportExcel: "#rmAva_btnExportExcel",

            displayOfDay: "#rmAva_displayOfDay",
            zone: "#rmAva_zone",
            resType: "#rmAva_resType",

            showNonDeduct: "#rmAva_showNonDeduct",
            showOcc3: "#rmAva_showOcc3",
            showRoomNight: "#rmAva_showRoomNight",
            includeOutOfOrder: "#rmAva_includeOutOfOrder",
            includeOverbooking: "#rmAva_includeOverbooking",
            includeAllotment: "#rmAva_includeAllotment",

            fromDate: "#rmAva_fromDate"
        };

        function rmAva_init() {
            initTomSelect(".tomselect-custom");
            rmAva_bindEvents();
        }

        function rmAva_bindEvents() {

            $(document)
                .off("click", rmAva_selectors.btnPrint)
                .on("click", rmAva_selectors.btnPrint, function () {
                    rmAva_loadReport();
                });

            $(document)
                .off("click", rmAva_selectors.btnExportExcel)
                .on("click", rmAva_selectors.btnExportExcel, function () {
                    rmAva_exportExcel();
                });

            $(document)
                .off("click", "#rmAva_btnExportPdf")
                .on("click", "#rmAva_btnExportPdf", function () {
                    rmAva_exportPdf();
                });
        }

        function rmAva_loadReport() {
            const rmAva_fromDate = $(rmAva_selectors.fromDate).val();
            const zoneValues  = $(rmAva_selectors.zone).val() || [];  
            const resTypeValues = $(rmAva_selectors.resType).val() || [];          

            if (!rmAva_zone || rmAva_zone.length === 0) {
                showToast("Error", "Please select a Zone before printing!", false);
                return;
            }

            $.ajax({
                url: "/HouseKeeping/RoomAvailabilityData",
                type: "GET",
                data: {
                    fromDate: rmAva_fromDate || dateSystem,
                    zone: zoneValues.join(","),
                    restype: resTypeValues.join(","),
                    displayofday: $(rmAva_selectors.displayOfDay).val(),
                    showNonDeduct: $(rmAva_selectors.showNonDeduct).is(":checked") ? 1 : 0,
                    showOcc3: $(rmAva_selectors.showOcc3).is(":checked") ? 1 : 0,
                    showRoomNight: $(rmAva_selectors.showRoomNight).is(":checked") ? 1 : 0,
                    includeOutOfOrder: $(rmAva_selectors.includeOutOfOrder).is(":checked") ? 1 : 0,
                    includeOverbooking: $(rmAva_selectors.includeOverbooking).is(":checked") ? 1 : 0,
                    includeAllotment: $(rmAva_selectors.includeAllotment).is(":checked") ? 1 : 0                
                },
                traditional: true,
                crossDomain: false,
                headers: {
                    "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val()
                },
                success: function (rmAva_result) {
                    console.log(rmAva_result);
                    rmAva_initializeReservationSummaryGrid(rmAva_result.data, rmAva_result.fromDate, rmAva_result.toDate);
                },
                error: function () {
                    alert("Không th? t?i báo cáo.");
                }
            });
        }

        function rmAva_generateDateColumns(rmAva_fromDate, rmAva_toDate) {
            const rmAva_columns = [];
            const rmAva_start = new Date(rmAva_fromDate);
            const rmAva_end = new Date(rmAva_toDate);

            let rmAva_index = 1;

            while (rmAva_start <= rmAva_end) {
                const rmAva_day = rmAva_start.getDate().toString().padStart(2, "0");
                const rmAva_month = rmAva_start.toLocaleString("en-US", { month: "short" });
                const rmAva_weekday = rmAva_start.toLocaleString("en-US", { weekday: "short" });
                const rmAva_weekNumber = rmAva_getWeekNumber(rmAva_start);

                const rmAva_captionHtml = `${rmAva_day}-${rmAva_month}<br>${rmAva_weekday}<br>CW${rmAva_weekNumber}`;

                rmAva_columns.push({
                    dataField: `date${rmAva_index}`,
                    width: 50,
                    // dataType: "number",
                    cellTemplate: function (rmAva_container, rmAva_options) {
                        let rmAva_value = rmAva_options.value;
         
                        let rmAva_num = parseFloat(rmAva_value);

                        const rmAva_formatNumber = (rmAva_val) =>
                            new Intl.NumberFormat("en-US").format(rmAva_val);

                           if (rmAva_options.data.roomType === "% OCC") {
                                if (rmAva_value !== null && rmAva_value !== undefined && rmAva_value !== "") {
                                       console.log(rmAva_value);
                                     let rmAva_occNum = parseFloat(
                                        rmAva_value.toString().replace(",", ".") // ✅ fix tại đây
                                    );
                                                
                                    if (!isNaN(rmAva_occNum)) {
                                        rmAva_container.text(rmAva_occNum.toFixed(1) + " %");  
                                    } else {
                                        rmAva_container.text(rmAva_value + " %");
                                    }
                                } else {
                                    rmAva_container.text("");
                                }
                            }
                        else if (rmAva_options.data.roomType === "R.Night") {
                            if (!rmAva_num || rmAva_num === 0) {
                                rmAva_container.text("0").css("color", "red");
                            } else {
                                rmAva_container.text(rmAva_formatNumber(rmAva_num));
                            }
                        }
                        else if (rmAva_options.data.roomType === "Allotment") {
                            rmAva_container.text(rmAva_num ? rmAva_formatNumber(rmAva_num) : "0");
                        }
                        else {
                            if (!isNaN(rmAva_num)) {
                                if (rmAva_num <= 0) {
                                    rmAva_container.text(rmAva_formatNumber(rmAva_num)).css("color", "red");
                                } else {
                                    rmAva_container.text(rmAva_formatNumber(rmAva_num));
                                }
                            } else {
                                rmAva_container.text("");
                            }
                        }
                    },
                    headerCellTemplate: function (rmAva_container) {
                        rmAva_container.html(
                            `<div style="white-space: normal; text-align:center; font-size:11px;">${rmAva_captionHtml}</div>`
                        );
                    }
                });

                rmAva_start.setDate(rmAva_start.getDate() + 1);
                rmAva_index++;
            }

            return rmAva_columns;
        }

        function rmAva_getWeekNumber(rmAva_date) {
            const rmAva_d = new Date(Date.UTC(rmAva_date.getFullYear(), rmAva_date.getMonth(), rmAva_date.getDate()));
            const rmAva_dayNum = rmAva_d.getUTCDay() || 7;
            rmAva_d.setUTCDate(rmAva_d.getUTCDate() + 4 - rmAva_dayNum);
            const rmAva_yearStart = new Date(Date.UTC(rmAva_d.getUTCFullYear(), 0, 1));
            return Math.ceil((((rmAva_d - rmAva_yearStart) / 86400000) + 1) / 7);
        }

        function rmAva_initializeReservationSummaryGrid(rmAva_data, rmAva_fromDate, rmAva_toDate) {
            const rmAva_columnWidth = 120;
            let rmAva_hasPassedBookedRoom = false;
            const rmAva_dateColumns = rmAva_generateDateColumns(rmAva_fromDate, rmAva_toDate);

            $(rmAva_selectors.grid).dxDataGrid({
                dataSource: rmAva_data,
                allowColumnResizing: true,
                columnAutoWidth: true,
                columns: [
                    { dataField: "roomType", caption: "Room Type", width: rmAva_columnWidth - 10 },
                    {
                        dataField: "totalRooms",
                        caption: "Total Rooms",
                        width: 70,
                        dataType: "number",
                        cellTemplate: function (rmAva_container, rmAva_options) {
                            let rmAva_value = rmAva_options.value;

                            if (rmAva_options.data.roomType === "Allotment" || rmAva_options.data.roomType === "BookedRoom") {
                                if (rmAva_value === null || rmAva_value === undefined || rmAva_value === "") {
                                    rmAva_container.text("0");
                                } else {
                                    rmAva_container.text(rmAva_value);
                                }
                            } else {
                                rmAva_container.text(rmAva_value ?? "");
                            }
                        },
                        headerCellTemplate: function (rmAva_container) {
                            rmAva_container.append(
                                $("<div>")
                                    .text("Total")
                                    .append("<br>")
                                    .append("Rooms")
                            );
                        }
                    },
                    ...rmAva_dateColumns
                ],
                paging: { pageSize: 25 },
                scrolling: {
                    useNative: true,
                    showScrollbar: "always"
                },
                pager: {
                    visible: true,
                    allowedPageSizes: [25, 50, "all"],
                    showPageSizeSelector: true,
                    showInfo: true,
                    showNavigationButtons: true
                },
                filterRow: { visible: true, applyFilter: "auto" },
                headerFilter: { visible: true },
                selection: { mode: "multiple", showCheckBoxesMode: "none" },
                showBorders: true,
                onRowPrepared: function (rmAva_e) {
                    if (rmAva_e.rowType === "data") {
                        if (rmAva_e.data.roomType === "Allotment") {
                            rmAva_hasPassedBookedRoom = true;
                        }

                        if (rmAva_hasPassedBookedRoom) {
                            rmAva_e.rowElement.css({
                                "background-color": "#bdf8fc"
                            });
                        }

                        if (rmAva_e.data?.isTotal) {
                            rmAva_e.rowElement.css({
                                "font-weight": "bold",
                                "background-color": "#f6f6f6"
                            });
                        }
                    }
                }
            });
        }

        function rmAva_exportExcel() {
            const rmAva_grid = $(rmAva_selectors.grid).dxDataGrid("instance");
            const rmAva_selectedReport = "RoomAvailability";
            const rmAva_workbook = new ExcelJS.Workbook();
            const rmAva_companyName = localStorage.getItem("CompanyName") || "Tên công ty chưa xác định";
            const rmAva_worksheet = rmAva_workbook.addWorksheet("Sheet 1");

            rmAva_worksheet.addRow([rmAva_companyName]);
            rmAva_worksheet.mergeCells("A1:E1");
            rmAva_worksheet.getRow(1).font = { bold: true };
            rmAva_worksheet.getRow(1).alignment = { vertical: "middle", horizontal: "left" };

            const rmAva_now = new Date();
            const rmAva_exportDate = rmAva_now.toLocaleString("vi-VN");
            rmAva_worksheet.addRow(["", "", "", "", " " + rmAva_exportDate]);
            rmAva_worksheet.mergeCells("E2:H2");
            rmAva_worksheet.getRow(2).alignment = { vertical: "middle", horizontal: "right" };

            rmAva_worksheet.addRow([]);
            rmAva_worksheet.addRow([]);

            const rmAva_reportRow = rmAva_worksheet.addRow(["", "", rmAva_selectedReport]);
            rmAva_worksheet.mergeCells("C5:F5");
            rmAva_reportRow.font = { bold: true, size: 14 };
            rmAva_reportRow.alignment = { vertical: "middle", horizontal: "center" };

            rmAva_worksheet.addRow([]);

            DevExpress.excelExporter.exportDataGrid({
                component: rmAva_grid,
                worksheet: rmAva_worksheet,
                autoFilterEnabled: true,
                topLeftCell: { row: 7, column: 1 }
            }).then(function () {
                const rmAva_lastRow = rmAva_worksheet.lastRow.number + 2;
                rmAva_worksheet.getCell(`A${rmAva_lastRow}`).value = "--- END  ---";
                rmAva_worksheet.mergeCells(`A${rmAva_lastRow}:F${rmAva_lastRow}`);
                rmAva_worksheet.getCell(`A${rmAva_lastRow}`).alignment = { horizontal: "center" };
                rmAva_worksheet.getCell(`A${rmAva_lastRow}`).font = { italic: true };

                let rmAva_fileName = rmAva_selectedReport + ".xlsx";
                rmAva_workbook.xlsx.writeBuffer().then(function (rmAva_buffer) {
                    saveAs(new Blob([rmAva_buffer], { type: "application/octet-stream" }), rmAva_fileName);
                });
            });
        }

        function rmAva_exportPdf() {
            const { jsPDF } = window.jspdf;
            const rmAva_doc = new jsPDF();

            DevExpress.pdfExporter.exportDataGrid({
                jsPDFDocument: rmAva_doc,
                component: $(rmAva_selectors.grid).dxDataGrid("instance"),
                autoTableOptions: {
                    styles: { cellPadding: 2, fontSize: 8 },
                    margin: { top: 20 }
                }
            }).then(() => {
                rmAva_doc.save("BaoCao.pdf");
            });
        }

        return {
            init: rmAva_init,
            loadData: rmAva_loadReport,
            openModal: function () {
                $(rmAva_selectors.mainModal).modal("show");
            }
        };
    })();

    $(document).ready(function () {
        rmAva_Module.init();
        rmAva_Module.openModal();
    });

    window.openModalRoomAvailability = function () {
        $("#rmAva_mainModal").modal("show");
        rmAva_Module.loadData();
    };
</script>
