@using DevExpress.XtraReports.UI
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = ViewBag.ReportHeader;
    var listZone = ViewBag.ZoneList;
    var listRoomType = ViewBag.RoomTypeList;
    var listReservationType = ViewBag.ReservationTypeList;
    var listVip = ViewBag.VIPList;
}
<style>
    .filter-panel {
        border: 1px solid  black; /* xám nhạt */

    }
</style>
<div class="modal fade" id="roomAssign" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable ">
        <div class="modal-content modal-full-height">
            <div class="modal-header">
                <h5 class="modal-title">Room Assignment</h5>
            </div>

            <div class="modal-body">
                <div class="sticky-header bg-white p-2 shadow-sm z-3">
                    <div class="pb-2">
                        <button id="btnPrint" class="mui-button mui-button-view">View</button>
                        <button id="btnExportExcel" class="mui-button button-report-excel" type="button"> Excel</button>
                        <button id="close" class="mui-button mui-button-new" onclick="window.location.href='/Home/Index'">Close</button>
                    </div>
                    <div class="filter-panel">
                        <div class="container-fluid   mb-1">

                            <!-- ROW 1 -->
                            <div class="row g-3">

                                <div class="col-md-3">
                                    <div class="row align-items-center g-1">
                                        <label class="col-3 col-form-label">Arrival</label>
                                        <div class="col-9">
                                            <input type="date" id="arrival" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row align-items-center g-1">
                                        <label class="col-3 col-form-label">Group Profile</label>
                                        <div class="col-9">
                                            <input id="groupProfile" type="text" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row align-items-center g-1">
                                        <label class="col-3 col-form-label">Vip</label>
                                        <div class="col-9">
                                            <select id="vipcode" class="tomselect-custom" multiple>
                                                @foreach (var item in listVip)
                                                {
                                                    <option value="@item.Code">@item.Code</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row align-items-center g-1">
                                        <label class="col-3 col-form-label">Name</label>
                                        <div class="col-9">
                                            <input id="name" type="text" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- ROW 2 -->
                            <div class="row g-3 ">

                                <div class="col-md-3">
                                    <div class="row align-items-center g-1">
                                        <label class="col-3 col-form-label">Res.Type</label>
                                        <div class="col-9">
                                            <select id="reservationTypeCode" class="tomselect-custom" multiple>
                                                @foreach (var item in listReservationType)
                                                {
                                                    <option value="@item.Code">@item.Code</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row align-items-center g-1">
                                        <label class="col-3 col-form-label">Crs No</label>
                                        <div class="col-9">
                                            <input id="crsno" type="text" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row align-items-center g-1">
                                        <label class="col-3 col-form-label">Room Type</label>
                                        <div class="col-9">
                                            <select id="roomTypeCode" class="tomselect-custom" multiple>
                                                @foreach (var item in listRoomType)
                                                {
                                                    <option value="@item.Code">@item.Code</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="row align-items-center g-1">
                                        <label class="col-3 col-form-label">Room No</label>
                                        <div class="col-9">
                                            <input id="roomNo" type="text" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- ROW 3 -->
                            <div class="row g-3">

                                <div class="col-md-3">
                                    <div class="row align-items-center g-1">
                                        <label class="col-3 col-form-label">Confir. No</label>
                                        <div class="col-9">
                                            <input id="confirmationNo" type="text" class="form-control form-control-sm">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                    <div class=" filter-panel">
                        <div class="container-fluid   mb-1">
                        <!-- ROW 1 -->
                        <div class="row g-3">

                            <div class="col-md-3">
                                <div class="row align-items-center g-1">
                                    <label class="col-3 col-form-label">Company</label>
                                    <div class="col-9">
                                        <input id="company" class="form-control form-control-sm" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="row align-items-center g-1">
                                    <label class="col-3 col-form-label">Group</label>
                                    <div class="col-9">
                                        <input id="group" class="form-control form-control-sm" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="row align-items-center g-1">
                                    <label class="col-3 col-form-label">Preferred</label>
                                    <div class="col-9">
                                        <input id="preferred" class="form-control form-control-sm" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="row align-items-center g-1">
                                    <label class="col-3 col-form-label">Zone</label>
                                    <div class="col-9">
                                        <select id="zone" class="tomselect-custom" multiple disabled>
                                            @foreach (var item in listZone)
                                            {
                                                <option value="@item.Code">@item.Code</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- ROW 2 -->
                        <div class="row g-3">

                            <div class="col-md-3">
                                <div class="row align-items-center g-1">
                                    <label class="col-3 col-form-label">Source</label>
                                    <div class="col-9">
                                        <input id="source" class="form-control form-control-sm" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="row align-items-center g-1">
                                    <label class="col-3 col-form-label">Agent</label>
                                    <div class="col-9">
                                        <input id="agent" class="form-control form-control-sm" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="row align-items-center g-1">
                                    <label class="col-3 col-form-label">Speciails</label>
                                    <div class="col-9">
                                        <input id="speciails" class="form-control form-control-sm" disabled>
                                    </div>
                                </div>
                            </div>

                        </div>
                        </div>
                    </div>

                </div>

                <div class="mui-card">
                    <div id="gridContainer" class="gridContainer mt-2"></div>
                </div>
                <div id="loadingSpinner"
                     style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); z-index:1000;">
                    <i class="fa-solid fa-spinner fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function () {


        getBusinessDate();

        initializeTomSelects();

    });

    function getBusinessDate() {
        return $.ajax({
            url: '/Reservation/GetBusinessDate',
            type: 'get',
            dataType: 'json',
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {

                 const fromDateStr = result.split('T')[0];
                $('#arrival').val(fromDateStr);
                $('#roomAssign').modal('show');
                $("#btnPrint").trigger("click");


            },
            error: function (xhr, statusText, err) {
                if (xhr.status == 401) {
                    sessionTimeout();
                }
            }
        });
    }
    function initializeTomSelects() {
        const selectors = ["#vipcode","#reservationTypeCode","#roomTypeCode","#zone"];

        for (const id of selectors) {
            const el = document.querySelector(id);
            if (!el) continue;

            if (el.tomselect) el.tomselect.destroy();

            const ts = new TomSelect(el, {
                plugins: ['remove_button'],
                create: false,
                maxItems: null,
                allowEmptyOption: true,
                placeholder: '',
                persist: false,
                render: {
                    option: function (data, escape) {
                        return `<div>${escape(data.text)}</div>`;
                    }
                }
            });

        }
    }

    $(document).off("click", "#btnPrint").on("click", "#btnPrint", function () {
        $("#loadingSpinner").show();
        $.ajax({
            url: '/HouseKeeping/RoomAssignmentData',
            type: 'GET',
            data: {
                arrival: $("#arrival").val(),
                groupProfile: $("#groupProfile").val(),
                vipcode: $("#vipcode").val().join(","),
                name: $("#name").val(),
                reservationTypeCode:  $("#reservationTypeCode").val().join(","),
                crsno: $("#crsno").val(),
                roomTypeCode:  $("#roomTypeCode").val().join(","),
                roomNo: $("#roomNo").val(),
                confirmationNo: $("#confirmationNo").val()
            },
            traditional: true,
            crossDomain: false,
            headers: { "X-CSRF-TOKEN-HEADERNAME": jQuery("input[name='__RequestVerificationToken']").val() },
            success: function (result) {
                // $("#reportViewerContainer").html(result);
                // $("#loadingSpinner").hide();
                console.log(result);
                initializeRoomAssignmentGrid(result);
                $("#loadingSpinner").hide();
            },
            error: function () {
                alert("Không th? t?i báo cáo.");
                $("#loadingSpinner").hide();
            }
        });
    });

    let selectedRowData = null;

        function initializeRoomAssignmentGrid(data) {

        $("#gridContainer").dxDataGrid({
            dataSource: data,
            height: 370,

            allowColumnResizing: true,
            columnAutoWidth: false, // ❗ BẮT BUỘC

            scrolling: {
                mode: "standard",    // ❗ BẮT BUỘC
                showScrollbar: "always",
                useNative: false
            },

            columns: [
                { dataField: "hkStatus", caption: "HKStatus", width: 120 },
                { dataField: "roomNo", caption: "RoomNo", width: 90 },
                { dataField: "roomType", caption: "Ro.Type", width: 90 },
                { dataField: "confirmationNo", caption: "Conf.No", width: 100 },
                { dataField: "mg", caption: "MG", width: 70 },
                { dataField: "guestName", caption: "Name", width: 160 },
                { dataField: "eta", caption: "ETA", width: 90 },
                {
                    dataField: "departureDate",
                    caption: "Departure",
                    width: 120,
                    dataType: "date",
                    format: "dd/MM/yyyy"
                },
                { dataField: "rms", caption: "Rms", width: 80 },
                { dataField: "adults", caption: "A", width: 60 },
                { dataField: "child", caption: "C", width: 60 },
                { dataField: "child1", caption: "C1", width: 60 },
                { dataField: "child2", caption: "C2", width: 60 },
                { dataField: "reservationTypeCode", caption: "Resv.Type", width: 110 },
                { dataField: "agent", caption: "Agent", width: 140 },
                { dataField: "source", caption: "Source", width: 140 },
                { dataField: "company", caption: "Company", width: 140 },
                { dataField: "group", caption: "Group", width: 140 }
            ],

            paging: { pageSize: 25 },

            pager: {
                visible: true,
                allowedPageSizes: [25, 50, 'all'],
                showPageSizeSelector: true,
                showInfo: true,
                showNavigationButtons: true
            },

            filterRow: { visible: true, applyFilter: "auto" },
            headerFilter: { visible: true },

            selection: {
                mode: "multiple",
                showCheckBoxesMode: "none"
            },

            showBorders: true,

            onRowClick: function (e) {
                if (!e || !e.data) return;

                $("#agent").val(e.data.agent ?? "");
                $("#source").val(e.data.source ?? "");
                $("#company").val(e.data.company ?? "");
                $("#group").val(e.data.group ?? "");

                selectedRowData = e.data;
            },

            onRowPrepared: function (e) {
                if (e.rowType === "data" && e.data?.isTotal) {
                    e.rowElement.css({
                        fontWeight: "bold",
                        backgroundColor: "#f6f6f6"
                    });
                }
            }
        });
    }

    

    $("#btnExportExcel").click(function () {
        const grid = $("#gridContainer").dxDataGrid("instance");
        var selectedReport = 'Attendant Point';
        if (!selectedReport) {
            alert("Vui lòng ch?n báo cáo tru?c khi xu?t Excel.");
            return;
        }

        const workbook = new ExcelJS.Workbook(); const companyName = localStorage.getItem("CompanyName") || "Tên công ty chưa xác định";
        const worksheet = workbook.addWorksheet("Sheet 1");

        // === T?o header công ty (dòng 1) ===
        worksheet.addRow(['Công ty C? ph?n Gi?i pháp Công ngh? CS-Solution']);
        worksheet.mergeCells('A1:E1');
        worksheet.getRow(1).font = { bold: true };
        worksheet.getRow(1).alignment = { vertical: 'middle', horizontal: 'left' };

        // === Dòng 2: Th?i gian xu?t (ph?i) ===
        const now = new Date();
        const exportDate = now.toLocaleString("vi-VN");
        worksheet.addRow(['', '', '', '', ' ' + exportDate]);
        worksheet.mergeCells('E2:H2');
        worksheet.getRow(2).alignment = { vertical: 'middle', horizontal: 'right' };

        // === Dòng 3–4: Tr?ng
        worksheet.addRow([]);
        worksheet.addRow([]);

        // === Dòng 5: Tên báo cáo ? gi?a ===
        const reportRow = worksheet.addRow(['', '', selectedReport]);
        worksheet.mergeCells('C5:F5');
        reportRow.font = { bold: true, size: 14 };
        reportRow.alignment = { vertical: 'middle', horizontal: 'center' };

        // === Dòng 6: Tr?ng tru?c khi xu?t d? li?u
        worksheet.addRow([]);

        // === Export d? li?u t? DevExtreme (b?t d?u t? dòng 7)
        DevExpress.excelExporter.exportDataGrid({
            component: grid,
            worksheet: worksheet,
            autoFilterEnabled: true,
            topLeftCell: { row: 7, column: 1 } // d? li?u b?t d?u t? dòng 7
        }).then(function () {
            // Footer
            const lastRow = worksheet.lastRow.number + 2;
            worksheet.getCell(`A${lastRow}`).value = "--- END  ---";
            worksheet.mergeCells(`A${lastRow}:F${lastRow}`);
            worksheet.getCell(`A${lastRow}`).alignment = { horizontal: 'center' };
            worksheet.getCell(`A${lastRow}`).font = { italic: true };

            // Ghi file
            let fileName = selectedReport + ".xlsx";
            workbook.xlsx.writeBuffer().then(function (buffer) {
                saveAs(new Blob([buffer], { type: "application/octet-stream" }), fileName);
            });
        });
    });
</script>
